.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* heading */
.portfolio span:nth-child(1) {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-child(2) {
  color: orange;
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio img {
  width: 19rem;
  -webkit-filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

.infiniteSrollCotainer {
  max-height: 1000px;
  background-color: aqua;
  overflow: scroll;
}
