@import '../../styles/variables.scss';
.portfolio {
  @include displayJustifyAlign(flex, center, center);
  flex-direction: column;
}
/* heading */

.portfolio {
  span:nth-child(1) {
    color: black;
    font-size: 2rem;
    font-weight: bold;
  }
  span:nth-child(2) {
    color: orange;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

/* slider */

.portfolio {
  img {
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
  }
}
.infiniteSrollCotainer {
  max-height: 1000px;
  background-color: aqua;
  overflow: scroll;
}
