@import '../../styles/variables.scss';
.wrapper {
  height: 10vh;
  @include displayJustifyAlign(flex, space-between, '');
  margin-bottom: 2rem;
}
.left {
  @include displayJustifyAlign(flex, left, center);
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
}
.right {
  flex: 1;
  @include displayJustifyAlign(flex, flex-end, center);
  font-weight: 400;
}
.menuContainer {
  @include displayJustifyAlign(flex, center, center);
}
.ul {
  display: flex;
  margin-right: 2rem;
  margin: auto;
  justify-content: center;
  .list {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    &:hover {
      color: gray;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 480px) {
  .list {
    display: none;
  }
}
