@import '../../styles/variables.scss';
.wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.left {
  align-items: center;
  justify-content: left;
  display: flex;
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
}
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}
.menuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ul {
  display: flex;
  margin-right: 2rem;
  margin-bottom: 0;
  justify-content: center;
  .list {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    &:hover {
      color: gray;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 480px) {
  .list {
    display: none;
  }
}
