.Intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}

/* left side styling */
.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}

.name > :nth-child(1) {
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

.name > :nth-child(2) {
  color: orange;
  font-weight: bold;
  font-size: 3rem;
}

.name > :nth-child(3) {
  font-weight: 100;
  font-size: 14px;
  color: gray;
  margin-top: 10px;
}

/* right side styling */
.right {
  position: relative;
}

/* blur */
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  -webkit-filter: blur(212px);
          filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: -56%;
  -webkit-filter: blur(72px);
          filter: blur(72px);
}

@media screen and (max-width: 480px) {
  .Intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 7rem;
    height: 64rem;
  }
  .right {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    left: -3rem;
  }
  .right .blur {
    display: none;
  }
  .floatingDiv:nth-of-type(1) {
    /* display: none; */
    top: -7rem !important;
  }
}
