.ItemWrap {
  width: 350px;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  margin: 1rem;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
}

.ItemWrapTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  height: 170px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #e2e5e7;
  color: #566270;
  font-size: 2.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ItemWrapBody {
  height: 200px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 10px;
}

.ItemWrapBodyTitle {
  width: 300px;
  height: 36px;
  margin: 16px;
  border-radius: 4px;
  background-color: #e2e5e7;
}
