$dark-blue: #16415d;

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.btnContainer {
  display: flex;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  background-color: $dark-blue;
  padding: 8px 12px;
}
.shapeFill {
  fill: $dark-blue;
}
.hamburger {
  padding: 8px 12px;
  font-size: 24px;
}

.logo {
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
