.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #263343;
  padding: 8px 12px;
}

.shapeFill {
  fill: #263343;
}

.hamburger {
  padding: 8px 12px;
  font-size: 24px;
}

.logo {
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
