.menuicon label {
  margin: 30px;
  width: 60px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.menuicon label span {
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background-color: #000;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.menuicon label span:nth-child(1) {
  top: 0;
}

.menuicon label span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menuicon label span:nth-child(3) {
  bottom: 0;
}

.menuicon:checked label {
  z-index: 2;
}

.menuicon:checked label span {
  background-color: #fff;
}

.menuicon:checked label span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.menuicon:checked label span:nth-child(2) {
  opacity: 0;
}

.menuicon:checked label span:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}
