@import '../../../../styles/variables.scss';

.slideContainer {
  @include displayJustifyAlign(flex, center, center);
  background-color: orange;
  position: absolute;
  width: 300px;
  height: 100vh;
  flex-direction: column;
  top: 0;
  right: 0;
  z-index: 1;
  animation: identifier 1s;
}
@keyframes identifier {
  from {
    right: -20em;
  }
  to {
    right: 0;
  }
}
.navText {
  @include displayJustifyAlign(flex, '', center);
  color: #f5f5f5;
  font-size: 18px;
  margin: 1vh;
  padding: 0 16px;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
}
